<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-searchbar animated showCancelButton="focus" [(ngModel)]='searching'placeholder="Search Some Values"></ion-searchbar>
  <ion-button (click)='searchTo()'>Search</ion-button>
  <ion-button expand="block" (click)= 'presentActionSheet()'>Block Button</ion-button>
  <ion-card *ngFor='let item of news'>
    <img [src]= item.urlToImage/>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.content}}
    </ion-card-content>
  </ion-card>
</ion-content>
